<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Santosh Sriramadasu. It uses data from <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a> and <a href="https://weatherstack.com/" target="_blank">weatherstack.com</a>. This is
            hosted on <a href="https://www.heroku.com/" target="_blank">Heroku!</a></p>
        <br>
        <p>Get this code repository from <a href="https://github.com/WhyNotSantosh/nodejs-weather-website"
                target="_blank">GitHub</a></p>
        <img class="portrait" src="/img/bg.jpg">
    </div>
    {{>footer}}
</body>

</html>