<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     <div class="main-content">
        {{>header}}
        <p>Please reach out to creator of this app using the LinkedIn profile from the footer in case of any issues.</p>
     </div>
    {{>footer}}
</body>

</html>